.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0; 
    background-color: #f9f9f9; 
    padding: 10px 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.breadcrumbs a {
    color: #0dbcc2; 
    text-decoration: none;
    padding: 0 8px;
}

.breadcrumbs a:hover {
    color: #020485; 
}

.breadcrumbs span {
    color: #999; 
}
